-@ val list:List[List[String]]
-@ val poemTitle:String
-@ val poemContent:String
//-@ var name:String 




//{uri("/")} 添加route支持

.span3
  ul(class = "nav nav-list")
    -for(l <- list)
      -var name = l apply 1
      -var id = l apply 0
      li
        a(href = {uri("/query/"+id)}) = name
.span6
  h1
    =poemTitle
  
  = poemContent
  
  
