-@ val poemTitle:String
-@ val poemContent:String
-@ val poemId:String
//-@ var name:String 




//{uri("/")} 添加route支持

.span3
  h1
    =poemTitle
  
  != poemContent

  a(role="button" class="btn btn-link" href ={uri("/edit/"+ poemId)}) 删除
  
  
