-@ val list:List[List[String]]
//-@ var name:String 




//{uri("/")} 添加route支持

.span3
  ul(class = "nav nav-list")
    -for(l <- list)
      -var name = l apply 0
      -var id = l apply 2
      li
        a(href = id) = name
.span9
  
