//定义变量
-@ val aa:String
//aa的值由外部输入
!=aa

//{uri("/")} 添加route支持
form(action={uri("/edit")} method="POST")
  p
    label 名称
  p 
    input(name="poemTitle" type="text")
  p
    label 内容
  p 
    input(name="poemContent" type="text" )  
    input(type="submit") 

