-@ val body:String
!!!
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="author" content="")

    link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/css/blog.css" rel="stylesheet")
    style(id="holderjs-style" type="text/css")
    style(id="text/css")

      
  
  body
    div(class="blog-masthead")
      .container
        .blog-nav
          a(class = "blog-nav-item" href="") Home
          a(class = "blog-nav-item" href="") Home
          a(class = "blog-nav-item" href="") Home
          a(class = "blog-nav-item" href="") Home
    .container
      .blog-header
        h1.blog-title  The Blog
        p(class="lead blog-description")  aaaaaaaa bbbb

      .row
        div(class="col-sm-8 blog-main")
          .blog-post
            h2.blog-post-title   sample blog
            p.blog-post-meta
          .blog-post
          .blog-post
          ul.paper

        div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
          div(class="sidebar-module sidebar-module-inset")
            h4 about
          .sidebar-module
            h4 archives
            ol.list-unstyled
              li adfasdfasfasfaslsdafasfasdf

          .sidebar-module
            h4 else where
  footer.blog-footer
    p  blog templet
  
  script(type="text/javascript")
  script(src='/assets/js/jquery.min.js') 
  script(src='/assets/js/bootstrap.min.js')
  script(src='/assets/js/docs.min.js')
