-@ val body:String
-@ val viewName:String

!!!
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="author" content="")

    link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/css/blog.css" rel="stylesheet")
    style(id="holderjs-style" type="text/css")
    style(id="text/css")

      
  
  body
    div(class="blog-masthead")
      .container
        .blog-nav
          a(class = "blog-nav-item" href="/") 首页
          a(class = "blog-nav-item" href={uri("/edit")}) 添加
          a(class = "blog-nav-item" href="") Home
          a(class = "blog-nav-item" href="") Home
    .container
      .blog-header
        h1.blog-title  The Blog
        p(class="lead blog-description")  aaaaaaaa bbbb

      .row
        div(class="col-sm-8 blog-main")
          .blog-post
            ={render{viewName}}
          .blog-post
          .blog-post
          ul.paper

        div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
          ={render("titleList.jade")}

  footer.blog-footer
    p  blog templet
  
  script(type="text/javascript")
  script(src='/assets/js/jquery.min.js') 
  script(src='/assets/js/bootstrap.min.js')
  script(src='/assets/js/docs.min.js')
