doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="author" content="")

    link(href="/assets/css/bootstrap.css" rel="stylesheet")
    link(href="/assets/css/bootstrap-responsive.css" rel="stylesheet")
    link(href="/assets/css/syntax.css" rel="stylesheet")
    link(href="/assets/css/scalatra.css" rel="stylesheet")
      
  body
    div(class="navbar navbar-default navbar-fixed-top")
      .navbar-inner
        .container
          a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand" href="/") Scalatra Examples
          div(class="nav-collapse collapse")
            ul(class = "nav navbar-nav")
    div(class="container")
      div(class="content")
        div(class="page-header")
          div(class="row")
            !=body
  footer(class="vcard" role="contentinfo")
    script(type="text/javascript")
    script(src='/assets/js/jquery.min.js') 
    script(src='/assets/js/bootstrap.min.js')
